version: "3"
services:
  poc:
    image: poc
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - poc
    depends_on:
      - mysqldb
 
  mysqldb:
    image: mysql:8
    restart: unless-stopped
    networks:
      - poc
    environment:
      - MYSQL_ROOT_PASSWORD=123456
      - MYSQL_DATABASE=employeemanagementdb  

networks:
  poc: 
